*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111111;
  --bg-color-2: #191919;
  --text-base: #eeeeee;
  --text-base-2: #b4b4b4;
  --bg-primary: #6e6e6e;
  --primary: #00a2c7;
  --prinary-2: #23afd0;
  --text-white: #fff;
  --border-1: #3a3a3a;
  --border-2: #484848;
  --border-3: #606060;
}

@font-face {
  font-family: "mansfield";
  src: url(../fonts/Mansfield-Medium-iF66c703e4cf4a2.ttf);
}

@font-face {
  font-family: "sabily";
  src: url(../fonts/SabilyRegular-m21x5.ttf);
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-base);
  font-family: "mansfield";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.header {
  padding-top: 48px;
  border-bottom: 0.5px solid var(--primary);
  box-shadow: 1px 1px 8px 1px rgb(91, 91, 214, 0.7);
}

#content {
  height: 100%;
  background: center / cover url(../bg.png);
}

.footer {
  border-top: 1px solid #d6409f;
  font-size: 24px;
  text-align: center;
  background-color: var(--bg-color-2);
  color: white;
}

iframe {
  margin-top: 16px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.footer .credit {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  width: 100%;
  color: var(--bg-primary);
}

.btn {
  border-radius: 3px 3px 0px 0px;
  padding: 8px 16px;
  border: none;
  background-color: #6e6e6e;
  color: white;
}

.btn:hover {
  background-color: #7b7b7b;
}

.btn:active {
  background-color: #6e6e6e;
}

.btn-active {
  background-color: var(--primary);
}

.btn-active:hover {
  background-color: var(--prinary-2);
}

.btn-active:active {
  background-color: var(--primary);
}

.card {
  padding: 24px;
  border: 1px solid #3a3a3a;
  border-radius: 5px;
  background-color: rgb(34, 34, 34, 0.95);
  color: var(--text-base);
}

.card:hover {
  border: 1px solid var(--border-2);
}

.home-layout p {
  margin-top: 8px;
  color: var(--text-base-2);
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.home-layout > h2,
.menu-layout > h2,
.contact-layout > h2 {
  font-family: "sabily";
  color: #d6409f;
  text-align: center;
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.home-container .card {
  min-width: 350px;
  flex: 1;
}

.menu-container,
.contact-container {
  padding: 24px;
}

.menu-container .card {
  margin: auto;
  max-width: 940px;
  flex: 1;
}

.menu-container .card h2 {
  color: var(--primary);
}

.menu-container .card h3 {
  margin-top: 8px;
}

.menu-container .card p {
  width: 66%;
  color: var(--text-base-2);
}

.menu-container .card ul {
  list-style-type: none;
}

.form .input,
.form .textarea {
  margin-top: 4px;
  background-color: var(--bg-color-2);
  color: var(--text-base-2);
  outline: 1px solid var(--border-2);
  border: none;
  border-radius: 3px;
  padding: 12px 18px;
  width: 100%;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form .input:focus,
.form .textarea:focus {
  outline: 1px solid var(--primary);
}

.form .label {
  display: block;
}

.textarea-container {
  margin-top: 16px;
}

.contact-container .card {
  margin: auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.textarea {
  resize: none;
  color: #191919;
}

.btn-form {
  margin-top: 8px;
  border-radius: 3px;
  padding: 10px;
  border: none;
  background-color: var(--primary);
  color: white;
}

.btn-form:hover {
  background-color: var(--prinary-2);
}

.btn-form:active {
  background-color: var(--primary);
}

.btn-form:focus {
  outline: 1px solid var(--prinary);
}
